# Ignorar os diretórios e arquivos gerados pelo Cargo
/target/
**/*.rs.bk

# Ignorar arquivos de configuração locais do Rust
Cargo.lock

# Ignorar arquivos de compilação temporária
*.dSYM
*.log
*.tmp
*.swp

# Ignorar os arquivos binários ou executáveis que podem ser gerados
*.exe
*.out
*.o

# Ignorar arquivos relacionados ao sistema operacional
.DS_Store
Thumbs.db

# Ignorar os arquivos de entrada e saída temporários de testes
/inputs/*.txt
/outputs/*.txt

# Ignorar arquivos de configuração do editor (como VSCode ou JetBrains IDEs)
.idea/
/.vscode/
/*.iml

# Ignorar diretórios de cache e backup
/backup/
.cache/
/node_modules/

# Ignorar arquivos de ambiente e configuração local (se aplicável)
/.env
